<h1>Stupid coaching</h1>
<p>What do you want to ask to your coach?</p>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" value="<%=params[:question]%>">
  <input type="submit" value="ask!" class = "btn btn-primary">
</form>
